<html>
    <head>
        <title>Codenames</title>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ api_base }}resources/home.js"></script>
        <h1>Codenames</h1>
        <div>
            <label>Username: </label>
            <input type="text" id="creator_name" />
            <label>Room name: </label>
            <input type="text" id="room_name" />
            <button
                onclick="createRoom(document.getElementById('room_name').value)"
            >
                Create Room
            </button>
        </div>
        <div>
            {% for w in words %}
            <li>{{ escape(w) }}</li>
            {% end %}
        </div>
    </body>
</html>
